body {
  background: #eeeded; 
} 

.statement  {
 color:#3D5874;
 font-family: 'Roboto';
}
header  {
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 align-items: center;
 text-align: center;
}
header  img  {
 max-width:29%;
   height:auto;
}

.container {
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
 }
 
 .card {
  width: 250px;
  /* height: 200px; */
  margin: 10px;
  /* position: relative; */
  /* border: 2px solid blue; */
  color: white;
 }
 img {
  width: 250px;
  height: 160px;
  /* border: 2px solid black; */
  margin: 0;
 }


.top-div {
 background: rgba(234, 180, 61, .5);
 /* position: absolute; */
 display: flex;
   justify-content: center;
   justify-items: center;
   align-content: center;
   align-items: center;
 height: 40px;
 top: 0;
 width: 100%;
 color: #3D5874;
 font-weight: 300;
   margin: auto auto;
   text-transform: uppercase;
}
.bottom-div {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
   justify-content: baseline; 
 height: 40px;
 margin-top: -5px;
 background: rgba(234, 180, 61, .5);
}
h2 {
 margin: 0;
 padding: 0;
 color: #3D5874;
}
h4 {
 color: rgba(240, 85, 87, 1);
 text-transform: uppercase;
}

.delete, .edit  {
  display: flex;
  justify-content: space-evenly;
 background: transparent;
 color: #F05557;
 height: 20px;
}
.check {
  opacity: .4;
}
span, .check {   
 height:20px;
 width: 20px;
 margin-left: 20px;
 padding: 0px;
}

header input {
 width: 240px;
   margin: 5px;
   height: 25px;
   margin-bottom: 25px;
   padding: 5px;
}
input {
 margin:5px;
}
.input-submit {
 border: 2px solid #3D5874;
 border-radius: 5px;
 margin: 10px;
 color: #3D5874;
}
span {
 padding: 10px;
 opacity: 1;
}
.form-card {
 background-color:rgba(240, 85, 87, .8);
 display: flex;
 flex-direction: column;
 height: 200px;
 width: 100%;
 padding: 1em 0em;
}
textarea {
 height: 100px;
 overflow: auto;
 margin: 5px;
 
}